---
title: Writefully
---


<header>
	<%= image_tag "logo.png", class: "hide-mobi" %>
	<%= image_tag "logo-small.png", class: "show-mobi" %>
</header>

<section class="hero-unit">
	<h3>Writefully converts your</h3>
	<h3>github repository</h3>
	<span>into a content-management-system</span>
</section>


<div id="parallax-bg"></div>

<nav>
	<div class="container">
		<a href=""><%= image_tag "nav-icon.png" %>Get Started</a><a href=""><%= image_tag "nav-icon.png" %>Documentation</a><a href=""><%= image_tag "nav-icon.png" %>Get the source</a>
	</div>
</nav>

<section class="main-content">


<div class="row grey-bg">
	<div class="container">
		<div class="col-md-6"><%= image_tag "ruby.png", class: "para-icon" %><h4>Extendable</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quis, obcaecati id excepturi itaque dicta voluptas sapiente est dolores nihil illo quidem. Inventore iste sapiente perferendis quod praesentium earum maiores.</p></div>
		<div class="col-md-6"><%= image_tag "bolt.png", class: "para-icon" %><h4>Fault tolerant by design</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quis, obcaecati id excepturi itaque dicta voluptas sapiente est dolores nihil illo quidem. Inventore iste sapiente perferendis quod praesentium earum maiores.</p></div>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-md-6"><%= image_tag "repo.png", class: "para-icon" %><h4>Multi-site support</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quis, obcaecati id excepturi itaque dicta voluptas sapiente est dolores nihil illo quidem. Inventore iste sapiente perferendis quod praesentium earum maiores.</p></div>
		<div class="col-md-6"><%= image_tag "globe.png", class: "para-icon" %><h4>Internationalization</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quis, obcaecati id excepturi itaque dicta voluptas sapiente est dolores nihil illo quidem. Inventore iste sapiente perferendis quod praesentium earum maiores.</p></div>
	</div>
</div>

<div class="row grey-bg">
	<div class="container">
		<div class="col-md-6"><%= image_tag "checkmark.png", class: "para-icon" %><h4>Tested</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quis, obcaecati id excepturi itaque dicta voluptas sapiente est dolores nihil illo quidem. Inventore iste sapiente perferendis quod praesentium earum maiores.</p></div>
		<div class="col-md-6"><%= image_tag "browser.png", class: "para-icon" %><h4>Theming support</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, quis, obcaecati id excepturi itaque dicta voluptas sapiente est dolores nihil illo quidem. Inventore iste sapiente perferendis quod praesentium earum maiores.</p></div>
	</div>
</div>



</section>
<footer>
	<div class="container">
		© Copyright Codemy 2013. Codemy is a subsidiary of Artellectual Co., Ltd.
	</div>
</footer>