---
title: Writefully
---


<header>
	<%= image_tag "logo.png", class: "hide-mobi" %>
	<%= image_tag "logo-small.png", class: "show-mobi" %>
</header>

<section class="hero-unit">
	<h3>Writefully converts your</h3>
	<h3>github repository</h3>
	<span>into a content-management-system</span>
</section>


<div id="parallax-bg"></div>

<nav>
	<div class="container">
		<a href="https://github.com/codemy/writefully"><%= image_tag "nav-icon.png" %>Get Started</a>
		<a href="https://github.com/codemy/writefully/wiki"><%= image_tag "nav-icon.png" %>Documentation</a>
		<a href="https://github.com/codemy/writefully"><%= image_tag "nav-icon.png" %>Get the source</a>
	</div>
</nav>

<section class="main-content">


<div class="row grey-bg">
	<div class="container">
		<div class="col-md-6"><%= image_tag "ruby.png", class: "para-icon" %><h4>Extendable</h4><p>Writefully is built as a rails engine. Which means you can use it in any rails application you want. It also comes with utilities that will allow you to extend the capabilites of writefully into your own custom classes.</p></div>
		<div class="col-md-6"><%= image_tag "bolt.png", class: "para-icon" %><h4>Fault tolerant by design</h4><p>Built using Celluloid currency framework. Writefully is equipped to handle failure. It will report any errors it encounters and recover so it continues functioning as expected.</p></div>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-md-6"><%= image_tag "repo.png", class: "para-icon" %><h4>Multi-site support</h4><p>Writefully is designed to allow you to host multiple sites / blogs through a single installation. Currenty this is now possible on some levels however we are still working on some of the features that will make this complete.</p></div>
		<div class="col-md-6"><%= image_tag "globe.png", class: "para-icon" %><h4>Internationalization</h4><p>If you have content that requires translation. Writefully will support it out of the box. Check out the documentation on how to connect translated content to the main content.</p></div>
	</div>
</div>

<div class="row grey-bg">
	<div class="container">
		<div class="col-md-6"><%= image_tag "checkmark.png", class: "para-icon" %><h4>Tested</h4><p>We make sure writefully is well tested via our <a href="https://travis-ci.org/codemy/writefully" target="_blank">test suite</a> but also in real production environment. Writefully currently powers <a href='http://codemy.net' target='_blank'>Codemy.net</a>. After all writefully was made to solve our own problems</p></div>
		<div class="col-md-6"><%= image_tag "browser.png", class: "para-icon" %><h4>Theming support</h4><p>Theming support os going to play a major role in fully enabling multi site support. We are currently working hard on designing how / which templating engine we are going to use.</p></div>
	</div>
</div>



</section>
<footer>
	<div class="container">
		© Copyright Codemy 2013. Codemy is a subsidiary of Artellectual Co., Ltd.
	</div>
</footer>